#container{
    position: absolute;
    margin: auto;
    top:15%;
    left: 30%;
    align-items: center;
}

#container img{
    width: 500px;
    height:300px;
}
#container p{
    padding: 30px;
    border-style: double;
    border-color: brown;

}